body {
  background: -webkit-linear-gradient(left, #6600bf, #FFCCFF, #990099)
}

.btn {
  height: 100px;
  width: 400px;
  background-color: grey;
  border: 1px solid transparent;
  color: white;
  font-size: 18px;
}

.btn:hover {
  background-color: grey;
  border: 1px solid white;
  opacity: 0.6;
  box-shadow: 0 4px 16px #202020;
  animation: move 1s linear 0s;
}

@keyframes move {
  0% { margin-left: 0;}
  100% { margin-left: 0.2rem;}
}
