.blue {
  background-color: #66B2FF;
  height: 300px;
  padding: 100px;
}

.white {
  background-color: white;
  height: 20px;
}

.sun {
  animation: sun 1s ease-in-out 0s infinite;
}

@keyframes sun {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

h1, p {
  color: white;
  font-family: sans-serif;
}

.text {
  animation: text 1s ease 0s infinite;
}

@keyframes text {
  0% {
    bottom: 0;
    opacity: 0;
  }

  50% {
    bottom: 0;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

.people {
  position: absolute;
  left: 900px;
}

.umbrella {
  position: absolute;
  right: 1200px;
  animation: umbrella 1s linear 0s infinite;
}

@keyframes umbrella {
  0% { margin-right: 10rem;
      opacity: 0;
  }
  60% { margin-right: 10rem;
        opacity: 0;
  }
  80% { margin-right: 0;}
  100% { margin-right: 0;}
}

.ball {
  position: absolute;
  left: 1100px;
  animation: ball 1s linear 0s infinite;
}

@keyframes ball {
  0% { margin-left: 10rem;
      opacity: 0;
  }
  60% { margin-left: 10rem;
      opacity: 0;
  }
  80% { margin-left: 0;}
  100% { margin-left: 0;}
}

.palm {
  position: absolute;
  left: 43%;
  top: 68vh;
  width: 100px;
  animation: palm 1s ease-in-out 0s infinite;
}

@keyframes palm {
  0% {
    bottom: 0;
    opacity: 0;
  }
  70% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
